.page.theme_dark {
  --bg-color: #000028;
  --main-color: #f1b2ce;
  --heading-color: #db00ff;
  --accent-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --border-value : 1px solid var(--accent-color);
}
