/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #000028;
  --main-color: #353430;
  --accent-color: #ff8dcb;
  --heading-color: #ffc2e6;
  --shadow-color: #ff0070;
  --bg-image: url(../images/cover-image-light.png);
}
