/* Переиспользуемые стили start */

/* Кнопки */
.header__theme-menu-button {
  border: 1px solid transparent;
  padding-inline: 13px;
  background-color: transparent;
  cursor: pointer;
  min-block-size: 26px;
}

@media (hover: hover) {
  .header__theme-menu-button:hover {
    border: 1px solid var(--hover-color);
  }
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

/* Заголовки */
.title {
  color: var(--heading-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

.title-decor {
  color: var(--secondary-color, #000028);
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--accent-color, #ff0070);
  font-size: 18px;
}

.text-shadow {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
}

.section-heading {
  margin-block-end: 20px;
  color: var(--accent-color, #ff0070);
  font-weight: 700;
  font-size: 18px;
}

/* Контейнеры */
.content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-item {
  padding-block: 10px;
}

.content-item:last-child {
  padding-block-end: 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-block {
  padding-block-end: var(
    --block-section-padding,
    clamp(50px, 1.336rem + 7.63vw, 80px)
  );
}

/* Ссылка */
.content__link {
  display: inline-block;
  text-decoration: none;
  /* Красивее будет сделать бордер, чтобы при ховере и фокусе ничего не дергалось, но тогда едет PP */
  /* border: 1px solid transparent; */
}

@media (hover: hover) {
  .content__link:hover {
    border-bottom: 1px solid currentColor;
  }
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  border: 1px solid currentColor;
  outline: none;
}
/* Переиспользуемые стили end */

/* Общие стили страницы start */
.page {
  margin: 0 auto;
  color: var(--main-color, #f1b2ce);
  font-family: var(--main-font, "IBM Plex mono", monospace, sans-serif);
  font-weight: 400;
  font-size: 18px;
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone__item {
  content: "REC";
  position: absolute;
  display: inline-block;
  color: var(--accent-color, #ff0070);
  font-size: 18px;
  line-height: 25px;
  inset-block-start: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem);
  inset-inline-end: clamp(2.375rem, 1.779rem + 2.54vw, 3rem);
}

.decorated-zone__item::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  filter: drop-shadow(0px 0px 4px var(--accent-color, #ff0070));
  block-size: 9px;
  inline-size: 9px;
  inset-inline-end: -20px;
  inset-block-start: 9px;
}

.decorated-zone::before,
.decorated-zone::after {
  --inset-value: var(
    --inline-section-padding,
    clamp(10px, 0.029rem + 2.54vw, 20px)
  );
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-top: 1px solid var(--accent-color, #ff0070);
  border-right: 1px solid var(--accent-color, #ff0070);
  inset-block-start: var(--inset-value);
  inset-inline-end: var(--inset-value);
}

.decorated-zone::after {
  border-bottom: 1px solid var(--accent-color, #ff0070);
  border-left: 1px solid var(--accent-color, #ff0070);
  inset-block-end: var(--inset-value);
  inset-inline-start: var(--inset-value);
}
/* Общие стили страницы end */

/* Header start */
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas: "menu" "title" "text";
  padding: var(--inline-section-padding, clamp(10px, 0.029rem + 2.54vw, 20px));
  block-size: 668px;
  min-block-size: 100vh;
}

.header__theme-menu {
  grid-area: menu;
  margin-block-start: 65px;
  color: var(--accent-color, #ff0070);
}

.header__title {
  grid-area: title;
  text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
}

.header__content-text {
  grid-area: text;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
/* Header end */

/* Main start */
.main {
  padding: clamp(40px, 1.307rem + 5.09vw, 60px)
    var(--inline-section-padding, clamp(10px, 0.029rem + 2.54vw, 20px));
  line-height: 23.4px;
}

/* Advice section start */
.advice__heading {
  margin-block-end: 10px;
}

.advice__subtitle {
  margin-block-end: 10px;
  font-weight: 400;
  font-size: 18px;
}
/* Advice section end */

/* Gallery section start */
.gallery__image {
  max-inline-size: 100%;
  min-block-size: 100%;
}

.gallery__img {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__list {
  display: grid;
  gap: 10px;
}
/* Gallery section end */

/* Footer start */

.footer {
  display: grid;
  place-items: center;
  padding: var(--inline-section-padding, clamp(10px, 0.029rem + 2.54vw, 20px));
  min-block-size: 668px;
  block-size: 100vh;
}

/* Footer end */

/* Media start */

@media (min-width: 768px) {
  /* Переиспользуемые стили start */
  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  /* Заголовки */
  .section-heading {
    margin-block-end: 0;
    max-inline-size: 236px;
  }

  /* Контейнеры */
  .section-block {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;
  }
  /* Переиспользуемые стили end */

  /* Header start */
  .header {
    padding-inline-start: 0;
  }

  .header__theme-menu {
    margin-block-start: 172px;
  }

  .header__content-text {
    justify-self: end;
    max-inline-size: 364px;
  }
  /* Header end */

  /* Main start */

  .what-section {
    grid-template-columns: none;
    gap: 20px;
  }

  /* Gallery section start */
  .gallery {
    gap: 20px;
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "sunset sunset ice-cream" "tape books ice-cream"
      "tape street street" "tape street street";
    gap: 20px;
    block-size: 780px;
  }

  .gallery__list-item:nth-child(1) {
    grid-area: sunset;
  }

  .gallery__list-item:nth-child(2) {
    grid-area: ice-cream;
  }

  .gallery__list-item:nth-child(3) {
    grid-area: tape;
  }
  .gallery__list-item:nth-child(4) {
    grid-area: books;
  }
  .gallery__list-item:nth-child(5) {
    grid-area: street;
  }

  /* Gallery section end */

  /* Main end */
}

@media (min-width: 1024px) {
  /* Переиспользуемые стили start */

  /* Заголовки */
  .section-heading {
    max-inline-size: 315px;
  }

  /* Переиспользуемые стили end */

  /* Header start */
  .header__theme-menu {
    align-items: center;
    margin-block-start: 0;
    padding-inline-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }

  .header__content-text {
    max-inline-size: 491px;
  }
  /* Header end */

  /* Main start */

  .what-section > .content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
  }

  .gallery__list {
    block-size: 1048px;
  }
}

/* Media end */
