/* ПЕРЕИСПОЛЬЗУЕМЫЕ БЛОКИ */
.header__theme-menu-button {
  border: none;
  padding-inline: 13px;
  background-color: transparent;
  min-block-size: 26px;
}

.title {
  color: var(--heading-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

.title-decor {
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.text-shadow {
  text-shadow: 2px 2px 0px var(--accent-color);
  text-decoration: none;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.section-heading {
  margin-block-end: 20px;
  font-weight: 700;
  font-size: 18px;
  color: var(--accent-color);
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-item {
  padding-block: 10px;
}

.content__link {
  text-decoration: none;
}

.content-heading {
  margin-block-end: 10px;
}
/* СТИЛИ СТРАНИЦЫ */
.page {
  margin: 0 auto;
  color: var(--main-color);
  font-family: "IBM Plex mono";
  font-weight: 400;
  font-size: 18px;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* ШАПКА */
.decorated-zone {
  position: relative;
}

.decorated-zone__item {
  content: "REC";
  position: absolute;
  display: inline-block;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px;
  inset-block-start: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem);
  inset-inline-end: clamp(2.375rem, 1.779rem + 2.54vw, 3rem);
}

.decorated-zone__item::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  block-size: 9px;
  inline-size: 9px;
  inset-inline-end: -20px;
  inset-block-start: 9px;
}

.decorated-zone::before,
.decorated-zone::after {
  --inset-value: var(--inline--section-padding);
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-top: var(--border-value);
  border-right: var(--border-value);
  inset-block-start: var(--inset-value);
  inset-inline-end: var(--inset-value);
}

.decorated-zone::after {
  border-bottom: var(--border-value);
  border-left: var(--border-value);
  inset-block-end: var(--inset-value);
  inset-inline-start: var(--inset-value);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas: "menu" "title" "text";
  padding: var(--inline--section-padding);
  block-size: 668px;
  min-block-size: 100vh;
}

.header__theme-menu {
  color: var(--accent-color);
  grid-area: menu;
  margin-block-start: 65px;
}

.header__title {
  grid-area: title;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.header__content-text {
  grid-area: text;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

/* MAIN */
.main {
  padding-inline: var(--inline--section-padding);
  line-height: 23.4px;
}

.why {
  padding-block-start: clamp(40px, 1.307rem + 5.09vw, 60px);
  padding-block-end: clamp(25px, 0.668rem + 3.82vw, 40px);
}

.what {
  padding-block: 25px;
}

.advice {
  padding-block-start: 25px;
}

.advice__heading {
  margin-block-end: 10px;
}

.advice__text {
  margin-block-end: 40px;
}

.advice__subtitle {
  margin-block-end: 10px;
  font-size: 18px;
  font-weight: 400;
}

.advice__image {
  max-inline-size: 100%;
  min-block-size: 100%;
  vertical-align: bottom;
}

.advice__img {
  display: block;
  object-fit: fill;
  object-position: center;
  inline-size: 100%;
}

.gallery {
  display: grid;
  gap: 10px;
  padding-block-end: 40px;
}

.gallery__list {
  display: grid;
  gap: 10px;
}
/* FOOTER */

.footer {
  padding: var(--inline--section-padding);
  display: grid;
  place-items: center;
  min-block-size: 668px;
  block-size: 100vh;
}
